
.container-md {
    /* border: 5px solid black; */
}

[class^="col"] {
    /* border: 2px solid black; */
}

#passwordLength::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: darkgray;
}

#passwordLength::-moz-range-thumb {
    -webkit-appearance: none;
    background: darkgray;
}

input[type=checkbox] {
    -webkit-user-select: none;
}

input[type=checkbox]:checked {
    background: darkgray;
    border-color: darkgray;;
}