* {
    box-sizing: border-box;
}

body {
    background-color: black;
    align-items: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    /* z-index: 1; */
}

nav {
    height: 50px;
    background-color: blue;
    margin: 0;
}

h1 {
    color: red;
}

h4 {
    margin: 0;
}

#password-gen-page {
    /* z-index: 2; */
    position: relative;
    margin-top: 40px;
    width: 80%;
    height: 500px;
    border: 5px solid white; 
    border-radius: 25px;
    background-color: red;

    display: flex;
    flex-direction: column;
    align-items: center;

}

#password-div {
    border: 5px solid white;
    width: 70%;
    height: 100px;

    display: flex;
    display: row;
    justify-content: center;
    align-items: center;
}

#customise-password-div {
    width: 70%;
    height: 200px;
    border: 5px solid white;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#password-text-box {
    width: 80%;
    height: 50px;
    border-radius: 15px;
    font-size: 20px;
}

#refresh-password {
    width: 40px;
    height: 40px;
    margin: 5px 0 5px 5px;
    border-radius: 15px;
}

#copy-password {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 15px;
}

#slider-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#password-length {
    width: 50%;
    height: 20px;
    margin-right: 20px;
}

/* #password-length-label {
    width: 30px;
} */

#what-to-include-div {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: left;
    
}