{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Password Generator</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/passwordgenerator.css' %}">
{% endblock styles %}

{% block scripts %}
    <script src="{% static 'js/passwordgenerator.js' %}"></script>
{% endblock scripts %}

{% block content %}
    <h2 class="text-center my-3">Password Generator</h2>

    <div class="container-md rounded-3">

        <div class="row">

            <div class="col-sm-1"></div>
            <div class="col-lg-10" id="main-border">

                <div class="row mx-5 mt-3 mb-4">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10 text-center">
                        <div class="form-group">
                            <input type="text" class="form-control" id="thePassword">
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>

                <div class="row mx-5 mt-1 mb-3">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 text-center">
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="form-group">
                                    <label for="passwordLength" class="form-label mb-0">Password Length</label>
                                    <input type="range" class="form-range" id="passwordLength" min="8" max="64" value="16">
                                </div>
                            </div>
                            <div class="col-lg-1 text-start p-0">
                                <p class="text mt-4" id="passwordLengthLabel">16</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row mx-5 my-2">
                    <div class="col-sm-3"></div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6 text-start">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-lg-10">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="includeUppercaseLetters" checked>
                                            <label for="includeUppercaseLetters" class="form-check-label">Uppercase Letters</label>
                                        </div>
                                        <div class="for-check">
                                            <input type="checkbox" class="form-check-input" id="includeSpecialCharacters" checked>
                                            <label for="includeSpecialCharacters" class="form-check-label">Special Characters</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="includeNumbers" checked>
                                            <label for="includeNumbers" class="form-check-label">Numbers</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 text-center">
                                <div class="row">
                                    <div class="col-lg-10 my-auto">
                                        <div class="d-grid gap-2">
                                            <button type="button" class="btn btn-sm btn-secondary" id="refreshPassword">Refresh</button>
                                            <button type="button" class="btn btn-sm btn-secondary" id="copyPassword">Copy</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">  
                    </div>
                </div>

            </div>
            <div class="col-sm-1"></div>

        </div>

    </div>


{% endblock content %}

